<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 col-md-offset-0">
        <%= form_with model:@user, url: overtime_attendance_reply_user_path(current_user.id), method: :patch, local: true do |f| %>
          <% @o_attendance_users.each do |id, items| %>
            <% @u = User.find(id) %>
            <!--%= debug params.inspect %>-->
            <h4 class="text-center">【 <%= @u.name %> からの残業申請】</h4>
            <table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>指定勤務終了時間</th>
                  <th>時間外時間</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                  <th>変更</th>
                  <th>勤怠を確認する</th>
                </tr>
              </thead>
              <!--%= debug u.inspect %>-->
              <!--%= debug items.inspect %>-->
              <% items.each do |item| %>
              <% 
                css_class = 
                case %w{日 月 火 水 木 金 土}[item.worked_on.wday]
                when '土'
                  'text-primary'
                when '日'
                  'text-danger'
                end
              %>
              <tr>
                <td>
                  <!--%= item.worked_on %>-->
                  <%= l(item.worked_on, format: :short) %>
                </td>
                <td class="<%= css_class %>">
                  <%= $days_of_the_week[item.worked_on.wday] %>
                </td>
                <td>
                  <% if item[:overtime].present? && item[:overtime].strftime("%Y-%m-%d").to_s != item[:worked_on].to_s %>
                    翌 <%= l(item[:overtime], format: :time) %>
                  <% elsif item[:overtime].present? && item[:overtime].strftime("%Y-%m-%d").to_s == item[:worked_on].to_s %>
                    <%= l(item[:overtime], format: :time) %>
                    <!--%= l(item[:overtime], format: :time) if item[:overtime].present? %>-->
                  <% end %>
                </td>
                <td>
                  <!--%= l(@u.designed_work_end_time, format: :time) %>-->
                  <%= l(item[:sonohi_teiji], format: :time) if item[:sonohi_teiji].present? %>
                </td>
                <td>
                    <% zangyou = item[:overtime] - item[:sonohi_teiji] %>
                      <% z_s = zangyou % 60 %>
                      <% z_m = ((zangyou - z_s) / 60) % 60 %>
                      <!--% z_h = ((zangyou - z_s - z_m * 60) / (60 ** 2)) % 24 %>-->
                      <% z_h = ((zangyou - z_s - z_m) / (60 ** 2)) %>
                    <% tokubetu = item[:overtime] - item[:started_at] if item[:started_at].present? %>
                      <% t_s = tokubetu % 60 if item[:started_at].present? %>
                      <% t_m = ((tokubetu - t_s) / 60) % 60 if item[:started_at].present? %>
                      <!--% z_h = ((zangyou - z_s - z_m * 60) / (60 ** 2)) % 24 %>-->
                      <% t_h = ((tokubetu - t_s - t_m) / (60 ** 2)) if item[:started_at].present? %>
                      
                  <% if (item[:overtime].present? && item[:sonohi_teiji].present?) && (item[:sonohi_teiji].to_i > item[:started_at].to_i) %>
                    <%= "#{z_h.to_i}：" + Time.at(z_m).strftime('%M') if item[:sonohi_teiji].present? %>
                  <% elsif (item[:overtime].present? && item[:sonohi_teiji].present?) && (item[:sonohi_teiji].to_i < item[:started_at].to_i) %>
                    <%= "#{z_h.to_i}：" + Time.at(t_m).strftime('%M') if item[:sonohi_teiji].present? %>
                  <% end %>
                  <!--%= Time.at(zangyou).strftime('%-H：%M') if item[:sonohi_teiji].present? %>-->
                </td>
                <td>
                  <%= item[:gyoumu_syori] if item[:gyoumu_syori].present? %>
                </td>
                
                <%= fields_for "attendances[]", item do |af| %>
                  <td><%= af.select :overtime_approval, Attendance.overtime_approvals.keys.to_a %></td>
                  <td>
                    <%= af.check_box :must %>
                  </td>
                  <td>
                    <%= link_to "確認", user_path(id: af.object.user_id, date: af.object.worked_on), { target: "_new", class: "btn btn-primary btn-sm"} %>
                  </td>
                  <!--%= debug af.object.inspect %>-->
                <% end %>
              </tr>
              <% end %>
            </table>
          <% end %>
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-block" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>