<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <%= form_with model:@attendance, url: overtime_approval_user_path(@attendance), local: true, method: :patch do |f| %>
          <!--% @attendances.each do |id, items| %>-->
            <!--% @u = User.find(id) %>-->
            <h4 class="text-center">【 残業申請】</h4>
            <table class="table table-bordered table-condensed table-hover" id="table-attendances">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>翌日</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                </tr>
              </thead>
              <!--%= debug u.inspect %>-->
              <!--%= debug params.inspect %>-->
              <!--%= debug @attendance.inspect %>-->
              <!--% items.each do |item| %>-->
              <% 
                css_class = 
                case %w{日 月 火 水 木 金 土}[@attendance.worked_on.wday]
                when '土'
                  'text-primary'
                when '日'
                  'text-danger'
                end
              %>
              <tr>
                <td>
                  <%= l(@attendance.worked_on, format: :short) %>
                </td>
                <td class="<%= css_class %>">
                  <%= $days_of_the_week[@attendance.worked_on.wday] %>
                </td>
                <!--%= fields_for "attendances[]", day do |af| %>-->
                  <td>
                    <%= f.hidden_field :id, value: @attendance.id %>
                    <%= f.datetime_select :overtime, {include_blank: true, discard_year: true, discard_month: true, discard_day: true}, {class: "form-control time-select"} %>
                  </td>
                  <td>
                    <%= f.check_box :next_day, {}, "true", "false" %>
                  </td>
                  <td>
                    <%= f.text_field :gyoumu_syori, class: "form-control" %>
                  </td>
                  <td>
                    <%= f.collection_select :o_approval_superior, @superior_user_array, :id, :name, :prompt => "申請上長を選択" %>
                  </td>
                  <% if @attendance.o_approval_superior.blank? %>
                    <%= f.hidden_field :overtime_approval, value: "申請中" %>
                  <% end %>
                  <!--% if @attendance.sonohi_teiji.blank? %>-->
                    <!--% f.datetime_select :sonohi_teiji, {selected: @attendance.updated_at, include_blank: true, discard_year: true, discard_month: true, discard_day: true}, {class: "form-control time-select"} %>-->
                  <!--% end %>-->
                  <!--<td>-->
                    <!--%= link_to "確認", user_path(id: af.object.user_id, date: af.object.worked_on), { target: "_new", class: "btn btn-primary btn-sm"} %>-->
                  <!--</td>-->
                  <!--%= debug af.object.inspect %>-->
                <!--% end %>-->
              </tr>
              <!--% end %>-->
            </table>
          <!--% end %>-->
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-block" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>